{% extends 'layout.html' %}
{% block content %}
    <div class="row-fluid">
        <div class="span9">
        <article>
            <h1>{{ article.title }}</h1>
            <div>
                {% for tag in article.tags %}
                    <a class="taglink" href="{{ url_for('tags', tag=tag) }}">{{ tag }}</a>
                {% endfor %}
            </div>
            <div class="info-header">
                {{ article['author-name'] }}
                {{ article._id.generation_time|localtime }}
                {% if article['author-email'] == user.email %}
                    <a href="{{ url_for('edit', article_id=article._id) }}">(編集)</a>
                {% endif %}
            </div>
            {{ article.html|safe }}
        </article>
        </div>
        <div class="span3">
            <h2>この記事のタグ</h2>
            <ul>
                {% for tag in article.tags %}
                <li><a class="taglink" href="{{url_for('tags', tag=tag)}}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
