{% extends 'layout.html' %}
{% block content %}
    <div class="row">
        <div class="span10">
            {% for article in articles %}
                <article class="summary">
                    <h1>
                    <a href="{{ url_for('article', article_id=article._id) }}">{{ article.title }}</a>
                    </h1>
                    {{ article.html|safe }}
                </article>
            {% endfor %}
        </div>
        <div class="span2">
            <a class="btn btn-primary" href="{{ url_for('edit') }}">新しい記事を投稿する</a>
            <br>
        </div>
    </div>
{% endblock %}
