<!DOCTYPE html>
<html>
<head>
    <title>miita</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='highlight.css') }}" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>
<div id="header">
    <div id="logo"><a href="{{ url_for('index') }}">miita</a></div>
    <div id="account">{{ user.last_name }} {{ user.first_name }} ({{ user.email }})</div>
</div>

<div class="container-fluid">
{% block content %}{% endblock %}
</div>
</body>
</html>
