{% extends 'layout.html' %}
{% block content %}
    <div class="row-fluid">
        <div class="span9">
            {% if selected_tag is defined %}
            <h2>{{ selected_tag }}</h1>
            {% else %}
            <h2>最近の投稿</h2>
            {% endif %}
            {% for article in articles %}
                <article class="summary">
                    <h3>
                    <a href="{{ url_for('items', article_id=article._id) }}">{{ article.title }}</a>
                    </h3>
                        {% for tag in article.tags %}{{ taglink(tag) }}{% endfor %}
                    <div>
                        {{ article.html|safe }}
                    </div>
                </article>
            {% endfor %}
        </div>
        <div class="span3">
            <a class="btn btn-primary" href="{{ url_for('edit') }}">新しい記事を投稿する</a>
            <br>
        </div>
    </div>
{% endblock %}
